<script src="./js/instructions.js"></script>

<article>
<h2>Agendor Front-end Engineer Quiz</h2>

<h1>What is this?</h1>

<p>It's an interview test to evaluate your programming logic while you create an algorithm to solve a problem.</p>

<h1>How does it work?</h1>

<p>After you press "Start" button, you'll have 60 minutes to solve a problem using Javascript.</p>
<p>There will be a code editor on the next page that you must use to write code.</p>
<p>There will be buttons to run your code output, test your algorithm and submit your solution. You can click on these buttons as many times as you want.</p>

<h1>Are there any rules?</h1>

<ul>
  <li>You must write your code using our code editor</li>
  <li>You can use Google help if you need to remember some command or syntax</li>
</ul>

<h1>How do we evaluate?</h1>

<p>We don't look just to your final solution, we want to see who did you get there. That's possible with a session recording. When you get to the next page, your screen in this page will be recorded. That's why you must use our code editor to write code.</p>
<p>We will look for:</p>
<ul>
  <li>Your algorithm abilities</li>
  <li>Your data structure abilities</li>
  <li>How elegant is your solution</li>
  <li>The quality of your final solution code</li>
</ul>

<div style="text-align: center; margin-top: 50px;">
  <form action="start" id="js-form-start">
    <input type="text" name="email" class="inputEmail-large w-300 js-email" placeholder="Your e-mail address"/>
    <button type="submit" class="btn btn-large js-instructions-start">Start</button>
  </form>
</div>

</article>
