<!doctype html>

<title>Agendor Quiz</title>
<meta charset="utf-8"/>
<link rel=stylesheet href="../doc/docs.css">

<link rel="stylesheet" href="../lib/codemirror.css">
<link rel="stylesheet" href="../addon/fold/foldgutter.css">
<link rel="stylesheet" href="../addon/dialog/dialog.css">
<link rel="stylesheet" href="../theme/monokai.css">
<script src="../lib/codemirror.js"></script>
<script src="../addon/search/searchcursor.js"></script>
<script src="../addon/search/search.js"></script>
<script src="../addon/dialog/dialog.js"></script>
<script src="../addon/edit/matchbrackets.js"></script>
<script src="../addon/edit/closebrackets.js"></script>
<script src="../addon/comment/comment.js"></script>
<script src="../addon/wrap/hardwrap.js"></script>
<script src="../addon/fold/foldcode.js"></script>
<script src="../addon/fold/brace-fold.js"></script>
<script src="../mode/javascript/javascript.js"></script>
<script src="../keymap/sublime.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="../js/index.js"></script>
<style type="text/css">
  .CodeMirror {border-top: 1px solid #eee; border-bottom: 1px solid #eee; line-height: 1.3; height: 500px}
  .CodeMirror-linenumbers { padding: 0 8px; }
</style>

<article>
<h2>Agendor Front-end Engineer Quiz</h2>

<h1>What is this?</h1>

<p>It's an interview test to evaluate your programming logic while you create an algorithm to solve a problem.</p>

<h1>How does it work?</h1>

<p>After you press "Start" button, you'll have 60 minutes to solve a problem using Javascript.</p>
<p>There will be a code editor on the next page that you must use to write code.</p>
<p>There will be buttons to run your code and submit your solution. You can submit your solution more than once.</p>

<h1>Are there any rules?</h1>

<ul>
  <li>The time counting that start on the next page can't be paused</li>
  <li>You must write your code using our code editor</li>
</ul>

<h1>How do we evaluate?</h1>

<p>We don't look just to your final solution, we want to see who did you get there. That's possible with a session recording. When you get to the next page, your screen in this page will be recorded. That's why you must use our code editor to write code.</p>
<p>We will look for:</p>
<ul>
  <li>Your algorithm abilities</li>
  <li>Your data structure abilities</li>
  <li>How elegant is your solution</li>
  <li>The quality of your final solution code</li>
</ul>

</article>
